body {
  font-family: "Roboto", sans-serif;
  background-color: #07647F; }

header {
  color: #ffffff;
  font-family: "Roboto", sans-serif; }
  header h1 {
    font-size: 3.2rem;
    letter-spacing: 0.3rem;
    font-weight: bold; }
  header p {
    font-size: 1.2rem; }

main {
  background-color: #ffffff;
  border-radius: 1rem;
  min-height: 100%; }
  main p {
    color: #043C4C; }
  main h3 {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold; }

footer {
  color: #ffffff;
  height: 70px; }

.revision {
  background-color: #FFA041;
  border-radius: 1rem;
  color: #043C4C; }

.cadre {
  background-color: #0A8BB2;
  border-radius: 0.2rem;
  color: #ffffff; }

.result {
  font-weight: bold; }

.coloredLetter {
  color: #FFA041; }

.boutonTab {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFA041;
  color: #ffffff; }

.boutonRev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0A8BB2;
  color: #ffffff; }

/*# sourceMappingURL=style.css.map */
