//Variables du thème de site 
$mainColor: #0A8BB2;
$mainNuance : #07647F;
$complementColor: #FFA041;
$complementNuance: #FFECDA;
$mainFont: 'Roboto', sans-serif ;
$titleFont: 'Fjalla One', sans-serif;
$fontColorDark: #ffffff;
$fontColorClear: #043C4C; 

// mixings du site
@mixin clearCard() {
    background-color: $complementColor;
    border-radius: 1rem;
    color: $fontColorClear;
}
@mixin darkCard() {
    background-color: $mainColor;
    border-radius: 0.2rem;
    color: $fontColorDark;
}
@mixin boutonDark() {
    width : 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $mainColor;
    color: $fontColorDark;
}
@mixin boutonLight() {
    width : 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $complementColor;
    color: $fontColorDark;
}

// Style appliqué au corps
body{
    font-family: $mainFont;
    background-color: $mainNuance;
    
}
header{
    color: $fontColorDark;
    font-family: $mainFont;
    h1{
        font-size: 3.2rem;
        letter-spacing: 0.3rem;
        font-weight: bold;

    }
    p{
        font-size: 1.2rem;
    }
}
main{
    background-color: #ffffff;
    border-radius: 1rem;
    // height: 70vh;
    min-height: 100%;
    p{
        color: $fontColorClear;
    }
    h3{
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: bold;
    }
}
footer{

    color: $fontColorDark;
    height: 70px;
}
// Style spécifiques
.revision{
   @include clearCard();
}
.cadre{
    @include darkCard();
}
.result{
    font-weight: bold;
}
.coloredLetter{
    color: $complementColor;
}
.boutonTab{
    @include boutonLight();
}
.boutonRev{
    @include boutonDark();
}

